@import 'bootstrap/dist/css/bootstrap.css';

.App {
  text-align: center;
  /* margin-top: 24px; */
}

.leftSide {
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  /* background: linear-gradient(45deg, #010830, white);; */
  background-color: rgb(242, 239, 236);
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
  padding: 24px 0;
  border-radius: 0 24px 32px 0;
}
/* 
@media only screen and (max-width: 560px) {

} */
.leftSide > div > div,.leftSide li {
  cursor: pointer;
}

.leftSide ul {
  list-style: none;
  width: 100%;
  margin: 0;
}
.leftSide li {
  color: rgb(76, 61, 61);
  width: 100%;
  padding: 12px 0;
}
.leftSide li:hover {
  color: wheat;
  background-color: #010830;
}